@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #222;
}
h2 {
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
}
h2 > span {
  color: rgb(47, 86, 172);
  font-size: 2rem;
}
#grid{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#grid img{
    border: 1px solid rgb(21, 49, 128);
    box-shadow: 10px 10px 20px rgba(21, 50, 128, 0.63);
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    #grid{
        width: 300px;
    }
}