* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
}
.score-div {
  display: flex;
  padding: 40px 0;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.score-div .your-score {
  text-transform: uppercase;
}
.score-div #score {
  font-size: 30px;
}
.time-div {
  display: flex;
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.time-div .time-left-headingg {
  text-transform: uppercase;
}
.time-div #time-left {
  font-size: 30px;
}
.grid {
  width: 700px;
  height: 600px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.grid .square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
.mole {
  background-image: url(./mole.jpg);
  background-size: cover;
}
